<div class="article">
    <h2><span>Please log in</span></h2>
    
    <% form_tag :action => "create" do %>
    <div align="center">
      <table class="login">
        <tr>
          <td>Login:</td>
          <td><%= text_field_tag "login", "" %></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><%= text_field_tag "password", "", {:type => "password"} %></td>
        </tr>
          <td></td>
          <td style="color:red; text-align:right;"><%= submit_tag 'Log in' %></td>
        </tr>
      </table>
    </div>
    <% end -%>
</div>