<%favorites = favorites.sort_by(&:rating).reverse%>
<% favorites.each do |favorite| %>
  <li><%= link_to "[#{favorite.rating}] #{favorite.subject.title} (#{favorite.subject.comments.size})", favorite.subject, :title => "rating - #{favorite.rating}, comments - #{favorite.subject.comments.size}" %></a></li>
<%end%>
  
<%# if selected category then add <li id="category-active"></li>%>