<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
  <head> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
  </head> 
  
  <body> 
    <h1>
      Dear, <strong><%=h @user.full_name %></strong>
    </h1>
    
    <p> Your accounts password is changed</p> 
    
    <p>
      <strong>Login:</strong> <%= @user.user_name %>
      <br/>
      <strong>New password:</strong> <%= @user.password %>
    </p> 
    
    <p>
      This email was generated automatically!</br>
      Do not replay!
    </p>
    
    <p>
      Best Regards,<br/>
      Discussions portal!
    </p>
  </body> 
</html> 