<!-- Article -->
<div class="article">
    <h2><span><a href="#">This is my second article</a></span></h2>
    <p class="info noprint">
        <span class="date">2007-01-01 @ 00:01</span><span class="noscreen">,</span>
        <span class="cat"><a href="#">Category</a></span><span class="noscreen">,</span>
        <span class="user"><a href="#">Name</a></span><span class="noscreen">,</span>
        <span class="comments"><a href="#">Comments</a></span>
    </p>

    <p>
      <%= "index" %>
      <%=@users.size%>
    </p>

    <p class="btn-more box noprint"><strong><a href="#">Continue</a></strong></p>
</div> <!-- /article -->