<!-- Article -->
<div class="article">
    <h2><span><a href="#">This is my second article</a></span></h2>
    <p class="info noprint">
        <span class="date">2007-01-01 @ 00:01</span><span class="noscreen">,</span>
        <span class="cat"><a href="#">Category</a></span><span class="noscreen">,</span>
        <span class="user"><a href="#">Name</a></span><span class="noscreen">,</span>
        <span class="comments"><a href="#">Comments</a></span>
    </p>

    <p>
      some text
    </p>

    <p class="btn-more box noprint"><strong><a href="#">Continue</a></strong></p>
</div> <!-- /article -->


<!-- Article -->
            <div class="article">
                <h2><span><a href="#">This is my best article</a></span></h2>
                <p class="info noprint">
                    <span class="date">2007-01-01 @ 00:01</span><span class="noscreen">,</span>
                    <span class="cat"><a href="#">Category</a></span><span class="noscreen">,</span>
                    <span class="user"><a href="#">My name</a></span><span class="noscreen">,</span>
                    <span class="comments"><a href="#">Comments</a></span>
                </p>

                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam pellentesque enim blandit enim bibendum blandit.
                Integer eu leo ac est aliquet imperdiet. Quisque nec justo id augue posuere malesuada. Nullam ac metus. Cras non leo
                ut est placerat condimentum. Aliquam ut enim. Quisque non sapien in enim eleifend faucibus. Pellentesque sodales. Mauris
                auctor arcu sit amet felis. Donec eget enim ut lacus pharetra condimentum. Nulla in felis vel tortor imperdiet consectetuer.
                Sed id ante.</p>

                <p class="btn-more box noprint"><strong><a href="#">Continue</a></strong></p>
            </div> <!-- /article -->

            <hr class="noscreen" />

            <!-- Article -->
            <div class="article">
                <h2><span><a href="#">This is my third article</a></span></h2>
                <p class="info noprint">
                    <span class="date">2007-01-01 @ 00:01</span><span class="noscreen">,</span>
                    <span class="cat"><a href="#">Category</a></span><span class="noscreen">,</span>
                    <span class="user"><a href="#">My name</a></span><span class="noscreen">,</span>
                    <span class="comments"><a href="#">Comments</a></span>
                </p>

                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam pellentesque enim blandit enim bibendum blandit.
                Integer eu leo ac est aliquet imperdiet. Quisque nec justo id augue posuere malesuada. Nullam ac metus. Cras non leo
                ut est placerat condimentum. Aliquam ut enim. Quisque non sapien in enim eleifend faucibus. Pellentesque sodales. Mauris
                auctor arcu sit amet felis. Donec eget enim ut lacus pharetra condimentum. Nulla in felis vel tortor imperdiet consectetuer.
                Sed id ante.</p>

                <p class="btn-more box noprint"><strong><a href="#">Continue</a></strong></p>
            </div> <!-- /article -->

            <hr class="noscreen" />
            
            

            <hr class="noscreen" />

            <!-- Article -->
            <div class="article">
                <h2><span><a href="#">This is my first article</a></span></h2>
                <p class="info noprint">
                    <span class="date">2007-01-01 @ 00:01</span><span class="noscreen">,</span>
                    <span class="cat"><a href="#">Category</a></span><span class="noscreen">,</span>
                    <span class="user"><a href="#">My name</a></span><span class="noscreen">,</span>
                    <span class="comments"><a href="#">Comments</a></span>
                </p>

                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam pellentesque enim blandit enim bibendum blandit.
                Integer eu leo ac est aliquet imperdiet. Quisque nec justo id augue posuere malesuada. Nullam ac metus. Cras non leo
                ut est placerat condimentum. Aliquam ut enim. Quisque non sapien in enim eleifend faucibus. Pellentesque sodales. Mauris
                auctor arcu sit amet felis. Donec eget enim ut lacus pharetra condimentum. Nulla in felis vel tortor imperdiet consectetuer.
                Sed id ante.</p>

                <p class="btn-more box noprint"><strong><a href="#">Continue</a></strong></p>
            </div> <!-- /article -->

            <hr class="noscreen" />